/* Root */
html {
    box-sizing: border-box;
    background: #ffc600;
    font-family: 'Liu Jian Mao Cao','helvetica neue';
    font-size: 20px;
    font-weight: 200;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Base Styles */
h1 {
    text-align: center;
    margin: 30px 0 50px;
}

/* Container */
.container {
    text-align: center;
    margin: 0 auto;
    max-width: 1100px;
    padding-bottom: 30px;
}

.col {
    display: block;
    margin: 20px 20px;
    max-width: 100%;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 5px;
}

/* Clearfix */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Input Styles */
input {
    width: 100%;
    padding: 20px;
}

.search-form {
    max-width: 600px;
    margin: 80px auto;
  }

input.search {
    margin: 0;
    outline: 0;
    border: 10px solid #F7F7F7;
    width: 120%;
    left: -10%;
    position: relative;
    top: 5px;
    z-index: 2;
    border-radius: 5px;
    font-size: 40px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
}

/* Images Styles  */
.gallery {
    text-align: center;
    margin: 10px 75px;      
}

.gallery img {
    width: 300px;
    padding: 5px;
    filter: grayscale(100%);
    transition: 1s;
    border-radius: 5%;
}

.gallery img:hover {    
    filter: grayscale(0);
    transform: scale(1.06);
}

/* Lightbox Edited Styles */
.lb-data .lb-caption {
    font-size: 40px;
    margin: 10px 24%;
}



.lb-close {
    position: absolute;
    top: -5%;
    right: 5%;
}

@media (min-width: 768px) {
    .col {
        float: left;
        width: calc(45% - 20px);
        margin-bottom: 0;
    }
}

@media (min-width: 1024px) {
    .col {
        width: calc(30.33% - 20px);
    }
}
